 body {
            background-color: rgb(207, 231, 255);
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: 'Arial', sans-serif;
            background-image: url('https://www.transparenttextures.com/patterns/food.png');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            color: #333;
            line-height: 1.6;
            box-sizing: border-box;
            overflow-x: hidden;
            scroll-behavior: smooth;
            /* font-family: 'Comic Sans MS', cursive, sans-serif; */
        }
        navbar {
            background-color: #f8f9fa;
        }
        span.navbar-brand {
            color: #ec1a1a;
            text-align: center;
            margin-bottom: 20px;
            font-family: 'fantasy', sans-serif;
            font-weight: bold;
            text-shadow: 2px 2px #8e9aa1;
        }
        .text-type {
            display: inline-block;
            white-space: pre-wrap;
        }

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
script{
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.2em;
            color: #d13030;
            background-color: #d9d6f7;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow-x: auto;
            margin: 20px 0;
            
        }

        span.navbar-brand:hover {
            color: #ff5733;
            text-shadow: 3px 3px #d1784f;
        }
        h2 {
            color: #d35400;
        }
        .list-group-item {
            font-size: 1.2em;
        }   
        .navbar {
            margin-bottom: 20px;
        }
        p {
            font-size: 2em;
            margin: 0 20px;
            font-family: fantasy, sans-serif;
            color: #0b1e88;
            line-height: 1.6;
            text-align: center;
            text-shadow: 3px 3px #6b8291;
        }
        .text-type {
            display: inline-block;
            white-space: pre-wrap;
        }

        .text-type__cursor {
            margin-left: 0.25rem;
            display: inline-block;
            opacity: 1;
            animation: blink 1s step-start 0s infinite;
          }

        .text-type__cursor--hidden {
            display: none;
          }
        label {
            font-weight: bold;
            font-size: 1.1em;
            color: #14293d;
            margin-bottom: 5px;
            font-family: 'Arial', sans-serif;
            text-shadow: 1px 1px #84bac7;
        }
        form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fcd4e0;
            border-radius: 10px;
            box-shadow: 0 6px 10px rgba(0, 678, 990, 0.1);
        }
        button {
            background-color: #007bff;
            color: rgb(240, 195, 195);
        }
        button:hover {
            background-color: #0056b3;
        }
        span.button {
            font-size: 1em;
            padding: 10px;
            background-color: #a72828;
            color: white;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }
        span.button:hover {
            background-color: #218838;
        }
        img {
            transition: transform 0.3s ease;
            margin-bottom: 20px;
            object-fit: cover;
            display: block;
        }
        img:hover {
            transform: scale(1.05);
        }
        .list-group-item {
            font-size: 1.2em;
            background-color: #f7d1ed;
            border: 1px solid #8d8484;
            margin-bottom: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .list-group-item:hover {
            background-color: #d392d3;
        }
        @keyframes blink {
            0%, 100% { opacity: 1; }
            50% { opacity: 0; }

          }
          nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        nav ul li {
            display: inline;
        }
        nav ul li a {
            text-decoration: none;
            /* color: #ea00ff; */
            font-weight: bold;
            font-size: 1.2em;
            transition: color 0.3s ease;
            font-family: 'pixel', sans-serif;
            text-shadow: 1px 1px #a7c6e6;
        }
        nav ul li a:hover {
            color: #ea00ff;
            text-shadow: 1px 1px #ad54a9;
        }
        
          footer {
            margin-top: 20px;
            padding: 10px 0;
            background-color: #79a5d1;
            text-align: center;
            font-size: 0.9em;
            color: #505357;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            position: relative;
            bottom: 0;
            width: 100%;
        }
        footer a {
            color: #ff00aa;
            text-decoration: none;
            margin-left: 5px;
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            text-shadow: 1px 1px #73c9df;

        }
        footer a:hover {
            text-decoration: underline;
        }
